<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDo List App</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/admin.css">
</head>
<body>
    <header>
        <h1>ToDo List - Admin page</h1>
    </header>
    <main>
        <!--Esto es lo que cambiará cada vez que se llame a las rutas-->
        <%- body %>
    </main>
    <footer>
        Created with love by Antonio Cordero 2DAW 2025
    </footer>
</body>
</html>