body {
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
}

header, footer {
    background-color: lightsalmon;
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
}